* {
  --verde: ;
}
html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vh;
  min-height: 100svh;
  min-width: 100vw;
  background-color: #9fb982;
  color: #e9eff3;
  overflow-x: hidden;
}
.titulos {
  color: #001f3f;
}
.parrafos {
  width: 600px;
  margin: auto;
}
.text-shadow {
  text-shadow: rgb(110, 42, 15) 1px 0 10px;
}

.background-animation {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: changeBackgroundColor 7s infinite;
  margin: auto;
}
.formulario {
  max-width: 800px;
  color: #001f3f;
}
@keyframes changeBackgroundColor {
  0% {
    background-color: #001f3f;
  }
  25% {
    background-color: #43cea2;
  }

  50% {
    background-color: #ff4136;
  }
  70% {
    background-color: #ffb347;
  }
  100% {
    background-color: #001f3f;
  }
}
